# 0927 연습 
- 09/29 복습

문제 1: 리스트 합계
1부터 10까지의 숫자를 포함하는 리스트를 생성하고, 이 숫자들의 합계를 구하는 코드를 작성하세요.

In [63]:
import numpy as np
import pandas as pd

In [75]:
list1 = list(range(1,11))
print(sum(list1))

55

문제 2: Numpy 배열
1부터 20까지의 숫자를 포함하는 Numpy 배열을 생성하고, 배열의 평균과 표준편차를 구하세요.

In [83]:
num1 = np.arange(1,21)
print(np.mean(num1), np.std(num1))

10.5 5.766281297335398

문제 3: Pandas 데이터프레임 생성
학생 이름과 점수를 포함하는 데이터프레임을 생성하세요. 이름은 "Alice", "Bob", "Charlie"이고, 점수는 각각 85, 90, 78입니다.

In [139]:
test1 = pd.DataFrame({'Name' : ["Alice", "Bob", "Charlie"],
                      'Score' : [85, 90, 78]})
type(test1['Score'])

pandas.core.series.Series

문제 4: 데이터프레임 열 추가
위에서 생성한 데이터프레임에 "Pass/Fail"이라는 새 열을 추가하세요. 점수가 80 이상이면 "Pass", 미만이면 "Fail"로 표시합니다.

In [140]:
con = test1['Score'].apply(lambda x: 'Pass' if x >= 80 else "Fail")
test1["Pass/Fail"] = con
test1

      Name  Score Pass/Fail
0    Alice     85      Pass
1      Bob     90      Pass
2  Charlie     78      Fail

In [137]:
test1.loc[len(test1)] = ['Kim', 60, 'Pass' if 60 >= 80 else 'Fail'] ## 0부터 시작하니까 현재 데이터 개수로 하면 끝에 추가됨
test1

      Name  Score Pass/Fail
0    Alice     85      Pass
1      Bob     90      Pass
2  Charlie     78      Fail
3      Kim     60      Fail
4      Kim     60      Fail
5      Kim     60      Fail
6      Kim     60      Fail
7      Kim     60      Fail
8      Kim     60      Fail
9      Kim     60      Fail

문제 4 + 번외 : 데이터프레임 열 추가
위에서 생성한 데이터프레임에"Kim" 새 행을 추가하세요. 점수가 80 이상이면 "Pass", 미만이면 "Fail"로 표시합니다.

In [152]:
test1 = pd.concat([
    test1, pd.DataFrame({
        'Name' : 'Kim',
        'Score' : 60,
        'Pass/Fail' : ['Pass' if 60 >= 80 else 'Fail']
    })], ignore_index=True)
test1

      Name  Score Pass/Fail
0    Alice     85      Pass
1      Bob     90      Pass
2  Charlie     78      Fail
3      Kim     60      Fail
4      Kim     60      Fail

In [ ]:
test1 = pd.concat([
    test1, 
    pd.DataFrame({
        'Name': ['Kim'], 
        'Score': [60], 
        'Pass/Fail': ['Pass' if 60 >= 80 else 'Fail']  # 60을 기준으로 비교
    })
], ignore_index=True)

In [124]:
test1 = pd.concat([test1, pd.DataFrame({'Name': ['Kim'], 'Score': [60], 'Pass/Fail': ['Pass' if test1['Score'] >= 80 else 'Fail']})], ignore_index=True)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

문제 5: 필터링
위 데이터프레임에서 점수가 80 이상인 학생만 필터링하여 새로운 데이터프레임을 만드세요.

    name  score
0  Alice     85
1    Bob     90

문제 6: Numpy 배열 슬라이싱
1부터 100까지의 숫자를 포함하는 Numpy 배열을 생성한 후, 20부터 50까지의 숫자만 포함하는 서브 배열을 슬라이싱하여 출력하세요.

In [17]:
import numpy as np
import pandas as pd
arr = np.arange(1,101)
num1 = np.array(arr)

num2 = num1[19:50]
num2

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

문제 7: Pandas 그룹화
아래와 같은 데이터프레임을 생성하고, 각 과목별 평균 점수를 구하세요.

data = {
   'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
     'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
     'Score': [85, 90, 78, 92, 88, 80]
 }

In [39]:
data = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'], 
                    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
                    'Score': [85, 90, 78, 92, 88, 80]})
data['Score'].mean()

np.float64(85.5)

 문제 8: Numpy 연산
 1부터 10까지의 Numpy 배열을 생성한 후, 각 요소에 5를 더한 새로운 배열을 생성하세요.

In [38]:
num3 = np.arange(1,11)
list2 = np.array(num3)
list3 = list2 + 5
list3

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

 문제 9: Pandas 정렬
 위에서 생성한 데이터프레임을 점수 기준으로 내림차순 정렬하세요.

In [48]:
data2 = data.sort_values(by = 'Score', ascending=False)
data2

      Name  Subject  Score
3    Alice  Science     92
1      Bob     Math     90
4      Bob  Science     88
0    Alice     Math     85
5  Charlie  Science     80
2  Charlie     Math     78

 문제 10: 기초 통계
 랜덤으로 생성된 100개의 숫자를 포함하는 Numpy 배열을 만들고, 이 배열의 최대값, 최소값, 평균값을 구하세요.

In [62]:
ran1 = np.random.randint(1000, size = 100)
print(ran1.min(), ran1.max(), ran1.mean())

8 975 470.54

# 0930 개인연습 
- 클래스 관련 문제

문제 1: 기본 클래스 정의
Dog라는 클래스를 정의하세요. 이 클래스는 name과 age라는 두 개의 속성을 가지고 있어야 하며, bark라는 메서드를 통해 "Woof!"라는 문자열을 반환해야 합니다.

In [20]:
class Dog():
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"내이름은 {self.name}, 나이는 {self.age} \"Woof!\"")

Dog("김",23).bark()

내이름은 김, 나이는 23 "Woof!"

문제 2: 생성자 사용
Car라는 클래스를 정의하세요. 이 클래스는 make, model, year 속성을 갖고, 생성자(__init__ 메서드)를 통해 이 속성들을 초기화해야 합니다. 또한, get_info라는 메서드를 추가하여 차의 정보를 "2023 Toyota Camry"와 같은 형식으로 반환하도록 하세요.

In [24]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    
    def get_info(self):
        print(f"{self.year} {self.make} {self.model}")

Car('Toyota', 'Camry', 2023).get_info()

2023 Toyota Camry

In [ ]:
class Car: # GPT
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def get_info(self):
        return f"{self.year} {self.make} {self.model}"

# 사용 예시
my_car = Car("Toyota", "Camry", 2023)
print(my_car.get_info())  # 출력: "2023 Toyota Camry"

문제 3: 클래스 메서드
Rectangle 클래스를 정의하세요. 이 클래스는 width와 height 속성을 가지며, area라는 메서드를 통해 직사각형의 면적을 계산해 반환해야 합니다. 면적은 width * height로 계산합니다.

In [27]:
class Rectangle():
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        print(self.width * self.height)

Rectangle(3,5).area()

15

문제 4: 클래스 상속
Animal이라는 부모 클래스를 정의하고, name 속성을 가지며 speak 메서드가 "Animal speaks"라는 문자열을 반환하도록 하세요. 그런 다음 Dog 클래스를 Animal 클래스로부터 상속받아, speak 메서드를 오버라이드하여 "Woof!"를 반환하도록 하세요.

In [31]:
class Animal():
    def __init__(self, name):
        self.name = name

    def speak(self):
        print('Animal speaks')

class Dog(Animal):
    def speak(self):
        print('Woof!')

Dog('김').speak()
Animal('이').speak()

Woof!
Animal speaks

In [ ]:
class Animal: # GPT
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Animal speaks"

class Dog(Animal):
    def speak(self):
        return "Woof!"

# 사용 예시
animal = Animal("Generic Animal")
dog = Dog("Buddy")

print(animal.speak())  # 출력: "Animal speaks"
print(dog.speak())     # 출력: "Woof!"

문제 5: 클래스의 정적 메서드
MathUtil이라는 클래스를 정의하고, add라는 정적 메서드를 만들어 두 숫자를 받아 그 합을 반환하도록 하세요. 정적 메서드에는 @staticmethod 데코레이터를 사용해야 합니다.

In [38]:
class MathUtil():
    @staticmethod
    def add(num1, num2):
        return num1 + num2

MathUtil().add(3,5)

8

In [39]:
def my_decorator(func):
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

# 함수 호출
say_hello()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.