In [2]:
#pip list

In [4]:
import pandas as pd
import numpy as np

In [6]:
speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)
speeds

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [ ]:
grouped = speeds.groupby("class")['max_speed'].mean()
grouped

In [23]:
grouped = speeds.groupby(["class", "order"])['max_speed'].mean()
grouped

class   order
bird    Falconiformes     389.0
        Psittaciformes     24.0
mammal  Carnivora          69.1
        Primates            NaN
Name: max_speed, dtype: float64

In [ ]:
grouped = spees

In [39]:
data = {
    'Animal': ['Falcon', 'Parrot', 'Lion', 'Monkey', 'Leopard'],
    'Class': ['bird', 'bird', 'mammal', 'mammal', 'mammal'],
    'Speed': [389.0, 24.0, 80.2, 70, 58.0]
}

df = pd.DataFrame(data)

# 1. Using a function to group by the length of the Animal name

grouped_by_function = df.groupby(lambda x: len(df['Animal'][x]))

mean_speeds = grouped_by_function['Speed'].mean()
print("Mean Speed by Animal Name Length:")
print(mean_speeds)

Mean Speed by Animal Name Length:
4     80.2
6    161.0
7     58.0
Name: Speed, dtype: float64

In [46]:
data = {
    'Animal': ['Falcon', 'Parrot', 'Lion', 'Monkey', 'Leopard'],
    'Class': ['bird', 'bird', 'mammal', 'mammal', 'mammal'],
    'Speed': [389.0, 24.0, 80.2, 70, 58.0]
}

df = pd.DataFrame(data)

# 2. Using a list to specify groups
group_list = ['fast', 'slow', 'slow', 'slow', 'slow']
grouped_by_list = df.groupby(group_list)
print(grouped_by_list.head())
print("\nGrouped by list:")
print(grouped_by_list['Speed'].mean())

    Animal   Class  Speed
0   Falcon    bird  389.0
1   Parrot    bird   24.0
2     Lion  mammal   80.2
3   Monkey  mammal   70.0
4  Leopard  mammal   58.0

Grouped by list:
fast    389.00
slow     58.05
Name: Speed, dtype: float64

In [48]:
# 3. Using a dictionary for mapping
group_mapping = {'bird': 'Aves', 'mammal': 'Mammalia'}
grouped_by_dict = df.groupby(df['Class'].map(group_mapping))
print("\nGrouped by dictionary:")
print(grouped_by_dict['Speed'].mean())

Grouped by dictionary:
Class
Aves        206.5
Mammalia     69.4
Name: Speed, dtype: float64

In [ ]:
# 4. Grouping by a specific column
grouped_by_column = df.groupby('Class')

In [64]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

df

     A      B         C         D
0  foo    one  0.435362 -0.912094
1  bar    one  1.319616 -1.112638
2  foo    two  0.327350  0.854441
3  bar  three  1.253731  1.117452
4  foo    two -1.145990  1.186173
5  bar    two  0.109629  0.172322
6  foo    one -0.984486  0.702671
7  foo  three -1.342703 -1.208923

In [56]:

grouped = df.groupby(["A", "B"])

In [57]:
grouped["C"].mean()

A    B
bar  one      1.178994
     three    0.595682
     two      0.284543
foo  one     -0.554577
     three   -1.272955
     two     -0.698086
Name: C, dtype: float64

In [59]:
# 인덱스 기준으로 groupby

df2 = df.set_index(["A", "B"])
grouped = df2.groupby(level=df2.index.names.difference(["A"]))
# index.names 속성은 인덱스의 각 레벨의 이름을 반환
# 예를 들어, 인덱스 이름이 ['A', 'B']인 경우, difference(["B"])는 ['A']를 반환합니다.
# 즉, 'B' 레벨을 제외한 나머지 레벨로 그룹화하겠다는 의미입니다

grouped.sum()

              C         D
B
one    0.069841 -2.047560
three -0.677273 -1.557249
two   -1.111630 -0.509608

In [71]:
# 이상함
def get_letter_type(letter):
    if letter.lower() in 'aeiou':
        return 'vowel'
    else:
        return 'consonant'

grouped = df.T.groupby(get_letter_type)

mean_value = grouped[[:]].mean()
print(mean_value)
# df.T는 DataFrame df의 전치(transpose)를 의미합니다. 즉, 행과 열이 서로 바뀐 DataFrame이 생성됩니다. 
# 원래의 행은 열이 되고, 원래의 열은 행이 됩니다

SyntaxError: invalid syntax (433894425.py, line 9)

In [76]:
index = [1, 2, 3, 1, 2, 3]
s = pd.Series([1, 2, 3, 10, 20, 30,], index=index)

grouped = s.groupby(level=0)
grouped.first()
grouped.last()

1    10
2    20
3    30
dtype: int64

# Groupby sorting

In [78]:
# sort 옵션으로 정렬 가능
df2 = pd.DataFrame({
    "X" : ["B", "B", "A", "A"],
    "Y" : [1, 2, 3, 4]}
                  )

df2.groupby(["X"]).sum()
df2.groupby(["X"], sort=False).sum()

   Y
X
B  3
A  7

In [81]:
# groupby().get_group()으로 원하는 컬럼만 가져올 수 이씀)
df3 = pd.DataFrame({"X" : ["A", "B", "A", "B"],
                    "Y" : [1, 4, 3, 2]}
                  )
df3.groupby("X").get_group("A")
df3.groupby("X").get_group("B")

   X  Y
1  B  4
3  B  2

In [84]:
# dropna

df_list = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df_dropna = pd.DataFrame(df_list, columns=["a", "b", "c"])

df_dropna.groupby(by=["b"], dropna=True).sum()

     a  c
b
1.0  2  3
2.0  2  5

In [90]:
# GroupBy object attributes
# groups 는 groupby("A") A기준으로 그룹화하고
# 각 값에 대한 인덱스 번호를 딕셔너리 형태로 반환

df.groupby("A").groups
# {'bar' : [1, 3, 5],
#  'foo' : [0, 2, 4, 6, 7]}


df.T.groupby(get_letter_type).groups
# {'consonant' : ['B', 'C', 'D'], 'vowel' : ['A']}

grouped = df.groupby(["A", "B"])
grouped.groups
# {('bar', 'one') : [1], ('bar', 'three') : [3], ('bar', 'two'): [5],
#  ('foo', 'one'): [0, 6], ('foo', 'three'): [7], ('foo', 'two'): [2, 4]}

# len(grouped)

{('bar', 'one'): [1], ('bar', 'three'): [3], ('bar', 'two'): [5], ('foo', 'one'): [0, 6], ('foo', 'three'): [7], ('foo', 'two'): [2, 4]}

In [97]:
n = 10

weight = np.random.normal(166, 20, size=n)
height = np.random.normal(60, 10, size=n)
time = pd.date_range("1/1/2000", periods=n)
gender = np.random.choice(['male', 'female'], size=n)
df= pd.DataFrame({
    "height" : height, "weight" : weight, "gender" : gender,}, index=time)

gb = df.groupby("gender")
gb[['height', 'weight']].mean()

           height      weight
gender
female  54.747395  163.386250
male    64.316748  160.013447