### 문자열 포매팅

In [2]:
x = 1
a = f'아년ㅇ하세요 {x}'
print(type(a), a)

<class 'str'> 아년ㅇ하세요 1

In [3]:
a = "안녕하세요"
print(len(a))

5

In [4]:
a[len(a)-1]

'요'

In [11]:
a = '0123456789'
print(a[0:5])
print(a[:8:2])

01234
0246

In [14]:
'9' + a[1:]

'9123456789'

In [15]:
b = a.replace('0', '9')
b

'9123456789'

In [16]:
b.replace('9', '0')

'0123456780'

In [21]:
a = 'pyThon'
print(a.lower(), a.upper())

python PYTHON

NameError: name 'upper' is not defined

In [22]:
a.capitalize()

'Python'

In [31]:
b = "hello, lasoso"
b.title(), 
c = b.split(sep=" ")
type(c)

list

In [41]:
text = "".join(c) 
# "구분자".join(list) 넣으면 됨 구분자기준으로 요소를 합쳐줌
text

'hello,lasoso'

### 리스트, 튜플, 문자열 등이 Sequence 클래스

- Sequence의 특징
 1. 순서가 있음: 요소가 특정한 순서로 배치됩니다.
 2. 인덱싱 가능: 각 요소에 대해 인덱스를 사용하여 접근할 수 있습니다.
 3. 슬라이싱 가능: 리스트나 문자열처럼 슬라이스(slicing)를 통해 부분집합을 만들 수 있습니다.
 4.  길이 확인 가능: len() 함수를 사용하여 요소의 개수를 알 수 있습니다.

In [49]:
from collections.abc import Sequence
import pandas as pd


my_num = 100 #정수
my_list = [1, 2, 3] # 리스트
my_string = "hello" # 문자열

is_num = isinstance(my_num, tuple)
is_list = isinstance(my_list, tuple)
is_string = isinstance(my_string, tuple)

print(is_num)
print(is_list)
print(is_string)

False
False
False

In [50]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8]
print(a[1])

1

In [52]:
a = [0, 1, 2, ["pyy", "hell"], 3,4]
a[3][0][1]

'y'

In [55]:
a. append(["s", "aa"]) 
a

[0, 1, 2, ['pyy', 'hell'], 3, 4, ['s', 'aa'], ['s', 'aa'], ['s', 'aa']]

In [56]:
a = [100, 200]
a.append([3,4]) # (입력된 형태로 집어넣기)

In [66]:
a.extend([10, 20, 30]) # list로 한번에 집어넣기
a

[250, 200, 10, 20, 30]

In [68]:
a.insert(5,(3,4,5)) # 한번에 한개의 값만 입력 가능
a

[250, 200, 10, 20, 30, (3, 4, 5), [3, 4, 5]]

In [88]:
a = [1, 2, 3, 4]
value_to_insert = [5, 6]

# a[:4] = value_to_insert # 한개만 넣으면 4번까지 값을 바꾼다
a[2:2] = value_to_insert # 전후로 지정하면 4번에 값 추가
print(a)

[1, 2, 5, 6, 3, 4]

In [78]:
a

[1, 2, 3, 4]

In [58]:
del a[2] # 인덱스로 집기기
a

[100, 200]

In [60]:
a.remove(100) # 값으로 지기기
a

[200]

In [63]:
a.append(
a

IndexError: list assignment index out of range

In [90]:
my_dic = {
    'key1' : 'dfdf',
    'key2' : 'aaaa'
}
my_dic

{'key1': 'dfdf', 'key2': 'aaaa'}

In [91]:
my_dic = {
    'name' : 'kim',
    'age' : 23,
    '목록' : [0, 2, 3, ['a', 'b', 'c'], 2],
    'rm' : {'key' : 'vale'}
}
my_dic

{'name': 'kim',
 'age': 23,
 '목록': [0, 2, 3, ['a', 'b', 'c'], 2],
 'rm': {'key': 'vale'}}

In [96]:
my_dic['목록'][3][0]

'a'

In [97]:
my_dic['아무거나'] = ['ㅁ', 'ㅇ', 'ㅅ']
my_dic

{'name': 'kim',
 'age': 23,
 '목록': [0, 2, 3, ['a', 'b', 'c'], 2],
 'rm': {'key': 'vale'},
 '아무거나': ['ㅁ', 'ㅇ', 'ㅅ']}

In [98]:
my_dic['아무거나'][2] = 'ㅂ'
my_dic

{'name': 'kim',
 'age': 23,
 '목록': [0, 2, 3, ['a', 'b', 'c'], 2],
 'rm': {'key': 'vale'},
 '아무거나': ['ㅁ', 'ㅇ', 'ㅂ']}

In [99]:
my_dic.keys()

dict_keys(['name', 'age', '목록', 'rm', '아무거나'])

In [100]:
my_dic.values()

dict_values(['kim', 23, [0, 2, 3, ['a', 'b', 'c'], 2], {'key': 'vale'}, ['ㅁ', 'ㅇ', 'ㅂ']])

In [101]:
my_dic.items()

dict_items([('name', 'kim'), ('age', 23), ('목록', [0, 2, 3, ['a', 'b', 'c'], 2]), ('rm', {'key': 'vale'}), ('아무거나', ['ㅁ', 'ㅇ', 'ㅂ'])])

In [106]:
# my_dic.keys(3) # 딕셔너리는 순서가 없어 인덱싱이 안된다, 튜플과 동일

key_list = list(my_dic.keys())
val_list = list(my_dic.values())
key_list, val_list

(['name', 'age', '목록', 'rm', '아무거나'],
 ['kim', 23, [0, 2, 3, ['a', 'b', 'c'], 2], {'key': 'vale'}, ['ㅁ', 'ㅇ', 'ㅂ']])

In [107]:
key_list[2]

'목록'