# 제어문 & 반복문

## 단일 조건에 따른 분기

In [2]:
x = 95
if x >= 90:
    print("Pass")

Pass

In [4]:
x = int(input("입력"))
if x >= 10:
    print("Pass")

입력 10

Pass

## 단일 조건 및 그 외 조건에 따른 분기

In [5]:
x = int(input("입력"))
if x >= 90:
    print("Pass")
else:
    print("Fail")

입력 50

Fail

## 여러 조건에 따른 분기

In [7]:
x = int(input("입력"))
if x >= 90:
    print("Pass")
elif (x >= 80) and (x < 90):
    print("조건부합격")
else:
    print("Fail")

입력 85

조건부합격

## 중첩 조건에 따른 분기
- 시나리오
- 90점 넘으면 합격, 그 중 100점자는 장학금 지급
- 80점 이상 조건부
- 나머지 fail

In [11]:
x = int(input("입력"))
if x >= 90:
    if x == 100:
        print("장학금 지급 ")
    else:
        print("Pass")
elif (x >= 80) and (x < 90):
    print("조건부합격")
else:
    print("Fail")

입력 80

조건부합격

# 반복문

In [13]:
for i in range(3):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요

- 시퀀스 자료형이 range 대신에 들어갈 수 있음

In [15]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

# 시퀀스 자료 확인

False
True
True

In [17]:
for i in my_string:
    print(i)

h
e
l
l
o

In [18]:
for i in my_list:
    print(i)

1
2
3

In [19]:
list(range(3))

[0, 1, 2]

## 중첩 for문
- 구구단 중첩 for 문 등 ...
- # 원하는 결과물 
x1, y1 
x1, y2
x2, y1
x2, y2

In [26]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

print("x y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x, y)

x y
x1
x1 y1
x1 y2
x2
x2 y1
x2 y2

## 여러 개의 리스트 다루기

In [33]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

# idx : index 번호 의미
for idx in range(len(names)): # len 함수는 길이 나타냄, 리스트는 리스트 속 인자 수 알려줌
    # print (idx)
    print(names[idx], scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

## 리스트 컴프리헨션
- 반복문을 한줄로 처리하는 것

In [36]:
numbers = [1, 2, 3, 4, 5]
result = []
for x in numbers:
    print(x * 2)   # 각 요소마다 곱하기 2
    result.append(x * 2)
print(result)

2
4
6
8
10
[2, 4, 6, 8, 10]

In [38]:
numbers = [1, 2, 3, 4, 5]
result2 = [x * 2 for x in numbers] # 리스트 뿐만 아니라 딕셔너리도 가능
print(result2)

[2, 4, 6, 8, 10]

In [42]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    if x % 2 == 0:
        result.append(x)
result

[2, 4, 6]

In [51]:
# 짝수만 출력하세요
numbers = [1, 2, 3, 4, 5, 6]
result2 = [x for x in numbers if x % 2 == 0]
result2

[2, 4, 6]

## while 반복문
- 조건문이 참일 때만 반복해서 실행 -> 언제 break 할지 false 조건을 고려 해야함
- 데이터 분석 : 데이터셋이 정해져 있음
  + 행과 열이 고정이 되어 있음
  + 범위가 주어진 상태

따라서 for 문을 쓰는 경우가 대부분임

In [ ]:
# while True:
#    print("안녕하세요")

In [52]:
i = 0
total = 0

while (total < 20) :
    i = i + 1
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21

In [54]:
k = 0 
while True:
    k = k + 1
    print("hi")
    if (k > 3):
        print (k)    
        break    # while, for -loop 문에서 강제적으로 종료시킬 때

hi
hi
hi
hi
4

## 사용자 정의 함수

In [55]:
def my_1st_func():
    print("hi")
    print("hello")

In [56]:
my_1st_func()

hi
hello

In [57]:
k = 0 
while True:
    k = k + 1
    my_1st_func()
    if (k > 2):
        print (k)    
        break    # while, for -loop 문에서 강제적으로 종료시킬 때

hi
hello
hi
hello
hi
hello
3

In [58]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    my_1st_func()
    if x % 2 == 0:
        result.append(x)
result

hi
hello
hi
hello
hi
hello
hi
hello
hi
hello
hi
hello

[2, 4, 6]

## 인자(인수)는 있으나 반환 값이 없는 함수

In [61]:
def my_friend(name):
    print(f"{name}는 나의 친구입니다.")
    print("{}는 나의 친구입니다.".format(name))

my_friend("철수")

철수는 나의 친구입니다.
철수는 나의 친구입니다.

In [67]:
# import pandas as pd

# pd.read_csv()

In [64]:
my_friend("ads")

ads는 나의 친구입니다.
ads는 나의 친구입니다.

In [65]:
def my_calc(x, y):
    z = x * y
    return z

In [66]:
my_calc(3, 4)

12

## 변수의 유효 범위
- 키워드 : 전역 변수, 지역 변수

In [87]:
a = 5                                # 전역 변수

def func1():
    a = 1                            # 지역 변수
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2                            # 지역 변수
    print("[func2] 지역 변수 a =", a)

def func3():                         
    print("[func3] 전역 변수 a =", a)

def func4():
    global a  # 함수 내에서 전역 변수 변경 위해 선언
    a = 4
    print("[func4] 지역 변수 a=", a)

In [79]:
func1()
func2()
func3()

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
[func3] 지역 변수 a = 5

In [ ]:
func1()
func2()
print("전역 변수 a=", a) # 전역변수 출력

In [84]:
func3()

[func3] 전역 변수 a = 5

In [88]:
func3()
func4()
func3()

[func3] 전역 변수 a = 5
[func4] 지역 변수 a= 4
[func3] 전역 변수 a = 4

In [96]:
c = 1 

def add(c):
    # global c
    c = c + 2
    print(c)
add(3)

5

## 가변인수 예제
- 학생의 점수를 입력받아 평균 점수를 계산하는 함수
- + 문제점 : 각 학생들마다 시험 본 과목수가 다 다름
  + - A : 3과목
    - B : 2과목
    - C : 5과목

In [103]:
def calculate_average(name, *scores):
    print(type(scores))
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [117]:
calculate_average("dd", 85, 95, 90)

<class 'tuple'>
dd의 평균 점수는 90.00점입니다.

In [101]:
calculate_average("aa", 80, 90)

aa의 평균 점수는 85.00점입니다.

In [102]:
calculate_average("cc",)

cc의 점수를 입력하지 않았습니다.

In [124]:
def calculate_average1(name, scores): # 가변인수 안쓰고 리스트로 받아서 사용할 때 사용
    if len(scores) > 0:  # 리스트가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [127]:
calculate_average1("dd", [10, 20, 30])
calculate_average1("dd", [10, 20, 30])

dd의 평균 점수는 20.00점입니다.
dd의 평균 점수는 20.00점입니다.

## 키워드 인수 확인 예제 
* 학생의 이름, 과목별 점수, 그리고 학년을 받아 학생의 성적을 출력하는 함수
    * 고정인수 : 학생의 이름
    * 가변 인수 : 여러 개의 과목 점수
    * 키워드 인수 : 학년 정보

In [ ]:
def student_report(name, *args, **kwargs):

In [132]:
def student_report(name, *scores, **details): # * 가변인수, ** 키워드 인수 넣고싶은 걸 넣어서 써라는 뜻
    print(f"학생 이름: {name}")

    # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

# 람다(lambda) 함수 
-. 함수를 간단하게 한줄로 처리하기 위해 사용

In [134]:
(lambda x : x ** 2)(3)

9

In [135]:
mySquare = lambda x : x ** 2
mySquare(2)

4

In [136]:
sampleFunc = lambda x, y, z : x ** 2 + 3 * y + z 
sampleFunc(1, 2, 3)

10

# Context Manager, Decorator
- 클로저 Closure
  + 함수 안에 또 다른 함수 생성
-

In [137]:
import time

#코드가 돌아가는 시간을 체크하는 함수
def time_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function '{func.__name__}' executed in {end_time - start_time:.4f} seconds")
        return result
    return wrapper

@time_decorator
def slow_function():
    time.sleep(2)
    return "Finished"

# 사용 예시
slow_function()

Function 'slow_function' executed in 2.0006 seconds

'Finished'

# 클래스 왕기초

In [149]:
class 책: # 지저분한 방식임
    title = None         # 속성(상태)
    author = None        # 속성
    pages = 0            # 속성
    price = 0            # 속성
    discount = 0         # 속성

    def 읽는시간(self, reading_speed = 30):   # 클래스 내부에서 self를 처음에 써줘야함 그래야 클래스에 입력된 값을 함수에 사용할 수 있음
        return round(self.pages / reading_speed, 1)

In [150]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title)
출력값 = 책01호.읽는시간() # 설정 값으로 계산 됨

print(출력값)

Streamlit
18.7

In [151]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title)
출력값 = 책01호.읽는시간(reading_speed = 5) # 지정 값으로 계산 됨

print(출력값)

Streamlit
112.0

In [147]:
# 인스턴스 생성
책02호 = 책()
책02호.TITLE = "Python"
책02호.author = "Evan"
책02호.pages = 560
책02호.price = 40000
책02호.discount = 10

print(책02호.TITLE)

Python

## 코드 업데이트

In [153]:
class 책():
    # initialize : 초기화
    def __init__(self, title, author, pages, price, discount_rate=0):
        self.title = title # 책의 제목, title이라는 값을 self.title이라는 변수에 저장하겠다는 뜻 
        self.author = author 
        self.pages = pages 
        self.price = price 
        self.discount_rate = 0

In [163]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책02호 = 책("샘플2", "Evan", 400, 20000, 0.1)
책03호 = 책("샘플3", "Evan", 500, 20000, 0.1)
책04호 = 책("샘플4", "Evan", 600, 20000, 0.1)

책01호.title,

('샘플',)

In [203]:
class 책():
    # initialize : 초기화
    def __init__(self, title, author, pages, price, discount_rate=0): # 상수값은 여기에 지정하고 
        self.title = title # 책의 제목, title이라는 값을 self.title이라는 변수에 저장하겠다는 뜻 
        self.author = author 
        self.pages = pages 
        self.price = price 
        self.discount_rate = discount_rate # 변수는 여기에 지정해준다, 여기에 상수값 지정하면, 입력값 관계없이 상수값 나

    def reading_time(self, reading_time = 30):
        return round(self.pages / reading_time, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)

In [201]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.5)
책02호 = 책("샘플2", "Evan1", 400, 20000, 0.1)
책03호 = 책("샘플3", "Evan2", 500, 20000, 0.1)
책04호 = 책("샘플4", "Eva3", 600, 20000, 0.1)
책01호.title, 책02호.title

('샘플', '샘플2')

In [168]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책01호.reading_time()

60.0

In [202]:
책01호.apply_discount()

20000