# 문제 1. 
- 변수 a에 정수 10을, 변수 b에 실수 5.5를 할당하고, 두 변수를 더한 결과의 데이터 타입을 출력하세요.

In [2]:
a = int(10) 
b = float(5.5)

type(a+b)

float

# 문제 2
- 문자열 "100"과 정수 50을 더하려고 할 때 발생하는 오류를 설명하고, 이를 해결하는 방법을 보여주세요.

In [6]:
# "100" + 50 # 타입이 다른 변수끼리 더할 수 없다 
int("100") + 50

150

# 문제 3. 
- 리스트 [1, 2, 3]와 튜플 (4, 5, 6)을 더할 수 있는지 확인하고, 가능하다면 결과를 출력하세요.

In [7]:
a = [1,2,3]
b = (4,5,6)
더할 수 없다
튜플을 리스트로 변환 후 더해야함

TypeError: can only concatenate list (not "tuple") to list

# 문제 4. 
- 변수 x에 None을 할당하고, 이를 다른 데이터 타입으로 변환할 수 있는지 확인하세요.

In [10]:
x = None

'None'

# 문제 5. 
- 변수 a에 정수 3을 할당하고, 이를 부동 소수점 숫자 3.0으로 자동 변환하도록 하세요.

In [13]:
a = 3 
float(a)

3.0

# 문제 6. 
- 변수 s에 문자열 "Hello"를 할당하고, 이를 3번 반복한 결과의 데이터 타입을 확인하세요.

In [14]:
s = "Hello"
print(s * 3)

HelloHelloHello

# 문제 7. 
- 변수 x에 정수 7을 할당하고, 이를 문자열로 변환한 후 문자열 "3"과 더해보세요.

In [15]:
x = 7
str(x) + "3"

'73'

# 문제 8. 
- 변수 a에 True, 변수 b에 False를 할당하고, 두 값을 더한 결과와 그 데이터 타입을 확인하세요.

In [17]:
a = True
b = False

print(a + b)
type(a + b)

1

int

# 문제 9. 
- 변수 a에 25를 할당하고, 이 값을 0.5로 나눈 결과와 그 데이터 타입을 확인하세요.

In [20]:
a = 25
print(a // 0.5)
type(a // 0.5)

50.0

float

# 문제 10. 
- 변수 text에 문자열 "12345"를 할당하고, 이를 정수형으로 변환한 후, 10을 더한 결과를 출력하세요.

In [21]:
text = "12345"
int(text) + 10

12355

# 문제 11. 
- 리스트 [10, 20, 30, 40, 50]에서 가장 큰 값을 찾아서 출력하세요.

In [22]:
a = [10, 20, 30, 40, 50]
max(a)

50

# 문제 12. 
- 리스트 [1, 2, 3, 4, 5]에서 모든 요소를 더한 결과를 출력하세요.

In [27]:
a = [1,2,3,4,5]
result = sum(a)
result

15

# 문제 13. 
- 튜플 (5, 10, 15, 20)에서 두 번째 요소를 출력하세요.

In [33]:
a = (5, 10, 15, 20)
a[1]

10

# 문제 14. 
- 튜플 (1, 2, 3)와 (4, 5, 6)을 합쳐서 새로운 튜플을 만들고 출력하세요.

In [54]:
at = (1, 2, 3)
bt = (4, 5, 6)

c = at + bt
c

(1, 2, 3, 4, 5, 6)

# 문제 15. 
- 딕셔너리 {'a': 1, 'b': 2, 'c': 3}에서 키 'b'의 값을 10으로 변경하고 출력하세요.

In [67]:
a_dict = {'a': 1, 'b': 2, 'c': 3}
a_dict['b'] = 10
a_dict

{'a': 1, 'b': 10, 'c': 3}

# 문제 16.
- 딕셔너리 {'name': 'Alice', 'age': 25, 'city': 'New York'}에서 모든 키를 출력하세요.

In [69]:
dict_1 = {'name': 'Alice', 'age': 25, 'city': 'New York'}
dict_1.keys()

dict_keys(['name', 'age', 'city'])

# 문제 17. 
- while 루프를 사용하여 1부터 5까지의 숫자를 출력하세요.

In [73]:
i = 0
while i < 5:
    i += 1
    print(i)

1
2
3
4
5

# 문제 18. 
- while 루프를 사용하여 10부터 1까지 거꾸로 숫자를 출력하세요.

In [91]:
t = 10
while t == 0:
    print(t)
    t = t - 1

t = 10
while t > 0:
    print(t)
    t = t - 1

# 문제 19. 
- for 루프를 사용하여 리스트 [2, 4, 6, 8, 10]의 각 요소에 2를 곱한 값을 출력하세요.

In [97]:
a = [2, 4, 6, 8, 10]
result = []
for i in a:
    result.append(i * 2)
result

[4, 8, 12, 16, 20]

# 문제 20. 
- for 루프를 사용하여 문자열 "Python"의 각 문자를 출력하세요.

In [98]:
a = "Python"
for i in range(len(a)):
    print(a[i])

P
y
t
h
o
n