# Google Drive와 연동

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/2024_2025/imbank/'

In [ ]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset("iris")
iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [ ]:
iris.to_csv(DATA_PATH + "iris_240930.csv", index=False)

In [ ]:
iris.to_excel(DATA_PATH + "iris_excel_240930.xlsx", index=False)

## 데이터 불러오기

In [ ]:
import pandas as pd

df1 = pd.read_csv(DATA_PATH + "iris_240930.csv")
df1.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [ ]:
df2 = pd.read_excel(DATA_PATH + "iris_excel_240930.xlsx")
df2.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa