# 0927 연습

문제 1: 리스트 합계
1부터 10까지의 숫자를 포함하는 리스트를 생성하고, 이 숫자들의 합계를 구하는 코드를 작성하세요.

In [11]:
import numpy as np
import pandas as pd

In [17]:
list1 = np.arange(1,11)
list1.sum()

np.int64(55)

문제 2: Numpy 배열
1부터 20까지의 숫자를 포함하는 Numpy 배열을 생성하고, 배열의 평균과 표준편차를 구하세요.

In [29]:
coun = np.arange(1,21)
list2 = np.array(coun)
type(list2)
list2.mean(), list2.std()

(np.float64(10.5), np.float64(5.766281297335398))

문제 3: Pandas 데이터프레임 생성
학생 이름과 점수를 포함하는 데이터프레임을 생성하세요. 이름은 "Alice", "Bob", "Charlie"이고, 점수는 각각 85, 90, 78입니다.

In [115]:
panda = pd.DataFrame({'name' : ["Alice", "Bob", "Charlie"],'score' : [85, 90, 78]})
panda

      name  score
0    Alice     85
1      Bob     90
2  Charlie     78

문제 4: 데이터프레임 열 추가
위에서 생성한 데이터프레임에 "Pass/Fail"이라는 새 열을 추가하세요. 점수가 80 이상이면 "Pass", 미만이면 "Fail"로 표시합니다.

In [116]:
panda['pass/fail'] = panda['score'].apply(lambda x : "Pass" if x >= 80 else "Fail")
# panda['pass/fail'] = panda['score'].apply(lambda x : "Pass" if x >= 80 else "Fail")
panda

      name  score pass/fail
0    Alice     85      Pass
1      Bob     90      Pass
2  Charlie     78      Fail

In [117]:
new = pd.DataFrame({'name' : ['kim'], 'score' : [60]})
new['pass/fail'] = new['score'].apply(lambda x : "Pass" if x >= 80 else "Fail")
new

  name  score pass/fail
0  kim     60      Fail

In [118]:
panda = pd.concat([panda,new], ignore_index=True)

In [119]:
panda

      name  score pass/fail
0    Alice     85      Pass
1      Bob     90      Pass
2  Charlie     78      Fail
3      kim     60      Fail

문제 5: 필터링
위 데이터프레임에서 점수가 80 이상인 학생만 필터링하여 새로운 데이터프레임을 만드세요.

In [62]:

panda_80 = panda[panda['score'] >= 80]
panda_80

    name  score
0  Alice     85
1    Bob     90

문제 6: Numpy 배열 슬라이싱
1부터 100까지의 숫자를 포함하는 Numpy 배열을 생성한 후, 20부터 50까지의 숫자만 포함하는 서브 배열을 슬라이싱하여 출력하세요.

# 문제 7: Pandas 그룹화
# 아래와 같은 데이터프레임을 생성하고, 각 과목별 평균 점수를 구하세요.
# 
# data = {
#     'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
#     'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
#     'Score': [85, 90, 78, 92, 88, 80]
# }

# 문제 8: Numpy 연산
# 1부터 10까지의 Numpy 배열을 생성한 후, 각 요소에 5를 더한 새로운 배열을 생성하세요.

# 문제 9: Pandas 정렬
# 위에서 생성한 데이터프레임을 점수 기준으로 내림차순 정렬하세요.

# 문제 10: 기초 통계
# 랜덤으로 생성된 100개의 숫자를 포함하는 Numpy 배열을 만들고, 이 배열의 최대값, 최소값, 평균값을 구하세요.